html {
    background-color: #0000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12em;
}

canvas {
    border: 3px solid #000;
}