body {
    margin: 0;
  }
  
.container{

	background-image: url("bgpic.jpg");
	  margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
background-size:cover;
background-position:center;
   
}
#canvas{
    border: 10px solid #ffffffb2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  #canvas{
    width: 70%;
    height: auto;
  }
}

