*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

#myCanvas{
    border: 2px solid rgb(43, 42, 42);
    margin: 10% auto;
    margin-left: 40%;



}