body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

#canvas00 {
	position: absolute;
	border: 4px solid black;
	background-color: grey;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}