body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas {
    margin-top: 70px;
    background-color: black;
    display: block;
    width: 75%;
    height: 75%;
    border:1px solid #000000;
  }