#canvas {
    display: grid;
    justify-content: center;
    border: 5px solid goldenrod;
    background-color: black;
    border-radius: 0.75em;
    box-shadow: 2em 2em 3em black;
    margin-left: 800px;
    margin-right: 800px;
}

canvas {
    height: 300px;
    width: 600px;
    margin-left: 300px;
}