body {
    background: #102131;
}

#container {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}