* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
