html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}