body,
html {
  height: 100%;
  background-color: #485460;
  padding: 0;
  margin: 0;
}

.viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .workspace {
    width: 50%;
    background-color: white;
    padding: 7px;
    box-shadow: 3px 5px 20px white;
} */

/* .mark {
    background-color: black;
    width: 100%;
} */