*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

img {
  height: 90px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}